<!DOCTYPE html>
<html>
    <head>
        <title>Redirecting...</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        <link href="{{url_for('static', filename='redirect.css')}}" rel="stylesheet" />
    </head>
    <body>
        <div class="loading"><span>&bull;</span><span>&bull;</span><span>&bull;</span></div>

        <h2>Please close this window to continue.</h2>
        <script>
            setTimeout(() => {
                if (window.opener) {
                    window.opener.postMessage({ name: "oauth2Callback", url: window.location.toString() }, "*")
                    window.close()
                }
            }, 1000)
        </script>
    </body>
</html>
